@model GameViewModel
@inject AppDBContext context
@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager
@section Scripts{
<script src="~/js/auxiliary-rater/rater.min.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            max_value: 5,
            step_size: 0.01,
            readonly: true
        };
        $(".game-rate").rate(options);
        var options2 = {
            max_value: 5,
            step_size: 0.5
        };
        $(".user-rate").rate(options2);
        $(".user-rate").on("change", function (ev, data) {
            let url = '@Url.Content("~/")' + "Game/UpdateGameRate";
            let gameId = '@Model.Game.Id';
            let userId = '@userManager.GetUserId(User)';
            $.post(url,
                {
                    gameId: gameId,
                    userId: userId,
                    rate: data.to * 2
                },
                function (data) {
                    $("#user-rate-value").text(data.rate.toFixed(2));
                });
        });
    })
</script> 
 }
<div class="container">
    <section>
        <div>
            <header class="text-center mb-5">
                <h1>@Model.Game.Name</h1>
            </header>
            <div class="main-page row">
                <div class="image img-fluid col-md-4 mx-auto text-center">
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Game.Logo)" style="max-height:500px;max-width:400px;" />
                </div>
                <div class="info col-md-4">
                    <h4 class="bg-secondary"><b>Информация:</b></h4>
                    <div>
                        <b>Жанр: </b><span>@Model.Game.Genre</span>
                    </div>
                    <div>
                        <b>Разработчик: </b><span>@Model.Game.Developer</span>
                    </div>
                    <div>
                        <b>Издатель: </b><span>@Model.Game.Publisher</span>
                    </div>
                    <div>
                        <b>Возрастной рейтинг: </b><span>@Model.Game.AgeRating</span>
                    </div>
                    <div>
                        <b>Дата выхода: </b><span>@Model.Game.ReleaseDate.ToShortDateString()</span>
                    </div>
                </div>
                <div class="rating col-md-4">
                    <h4 class="bg-secondary"><b>Рейтинг:</b></h4>
                    <div class="row" style="font-size:35px;">
                        <div class="col-md-5">
                            <div class="game-rate" data-rate-value="@context.GetGameAverageRating(Model.Game.Id)"></div>
                        </div>
                        <div class="col-md-7">@context.GetGameAverageRating(Model.Game.Id).ToString("F2")</div>
                    </div>
                </div>
                <div class="description row">
                    <div class="col-md-4">
                        @if (signInManager.IsSignedIn(User))
                        {
                        <section>
                            <div>
                                @if (Model.Catalog != null)
                                {
                                    <form class="form-inline text-center" asp-controller="Game" asp-action="UpdateGameInUserCatalog" asp-route-gameId="@Model.Game.Id" asp-antiforgery="true" method="post">
                                        <select id="catalogId" name="catalogId" asp-items="ViewBag.Catalogs" class="form-control-sm mx-auto"></select>
                                        <input class="btn btn-success mx-auto" type="submit" value="Обновить" />
                                    </form>
                                }
                                else
                                {
                                    <form class="form-inline text-center" asp-controller="Game" asp-action="AddGameToUserCatalog" asp-route-gameId="@Model.Game.Id" asp-antiforgery="true" method="post">
                                        <input type="hidden" name="game" value="@Model.Game" />
                                        <select id="catalogId" name="catalogId" asp-items="ViewBag.Catalogs" class="form-control-sm mx-auto"></select>
                                        <input class="btn btn-success" type="submit" value="Добавить в список" />
                                    </form>
                                }
                            </div>
                            <div class="row" style="font-size:35px;">
                                @if (context.GameRates.Any(gr => gr.GameId == Model.Game.Id && gr.AuthorId.Equals(userManager.GetUserId(User))))
                                {
                                    <div class="col-md-5">
                                        <div class="user-rate" data-rate-value="@(context.GameRates.First(gr => gr.GameId == Model.Game.Id && gr.AuthorId.Equals(userManager.GetUserId(User))).Rate / 2)"></div>
                                    </div>
                                    <div id="user-rate-value" class="col-md-7">@context.GameRates.First(gr => gr.GameId == Model.Game.Id && gr.AuthorId.Equals(userManager.GetUserId(User))).Rate</div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <div class="user-rate"></div>
                                    </div>
                                    <div id="user-rate-value" class="col-md-7"></div>
                                }
                            </div>
                        </section>
                        }
                    </div>
                    <div class="col-md-8">
                        <h4 class="bg-secondary"><b>Описание:</b></h4>
                        <p>@Model.Game.Description.ToHtmlString()</p>
                    </div>
                </div>
            </div>
        </div>
    </section>     
    <section>
        <div>
            @if (signInManager.IsSignedIn(User))
            {
                <form asp-controller="Game" asp-action="CreateGameReview" asp-route-gameId="@Model.Game.Id" method="post">
                    <div class="form-group">
                        <textarea placeholder="Введите текст отзыва..." name="text" rows="4" cols="100"></textarea>
                        <input class="btn btn-outline-success" type="submit" value="Добавить отзыв" />
                    </div>
                </form>
            }
            <ul>
                @foreach (var review in context.GetGameReviews(Model.Game.Id, true))
                {
                    <li>
                        <div>
                            <span>
                                @userManager.FindByIdAsync(review.UserId).GetAwaiter().GetResult().UserName
                            </span>
                            <span>
                                @review.Date.ToString("g")
                            </span>
                            <div>
                                @review.Text
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>