@model GameViewModel
@inject AppDBContext context
@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager
<style>
    /*Reviews*/
.review {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    margin: 8px 0
}

    .review::after {
        clear: both;
    }

    .review img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        max-width: 45px;
    }

    .review span {
        font-size: 20px;
        margin-right: 15px;
    }

@@media (max-width: 500px) {
    .review {
        text-align: center;
    }

        .review img {
            margin: auto;
            float: none;
            display: block;
            max-width: 45px;
        }
}
</style>
@section Scripts{
<script src="~/js/rateit/scripts/jquery.rateit.min.js"></script>
<script>
    $(document).ready(function () {

        $("#user-rateit").bind("rated", function (ev) {
            let url = '@Url.Content("~/")' + "Game/UpdateGameRate";
            let gameId = '@Model.Game.Id';
            let userId = '@userManager.GetUserId(User)';
            $.post(url,
                {
                    gameId: gameId,
                    userId: userId,
                    rate: $(this).rateit('value') * 2
                },
                function (data) {
                    $("#user-rate-value").text(data.rate);
                });
        });
    })
</script> 
 }
<div class="container">
    <section>
        <div>
            <header class="text-center mb-5">
                <h1>@Model.Game.Name</h1>
            </header>
            <div class="main-page row">
                <div class="image img-fluid col-md-4 mx-auto text-center">
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Game.Logo)" style="max-height:500px;max-width:400px;" />
                </div>
                <div class="info col-md-4">
                    <h4 class="bg-secondary"><b>Информация:</b></h4>
                    <div>
                        <b>Жанр: </b><span>@Model.Game.Genre</span>
                    </div>
                    <div>
                        <b>Разработчик: </b><span>@Model.Game.Developer</span>
                    </div>
                    <div>
                        <b>Издатель: </b><span>@Model.Game.Publisher</span>
                    </div>
                    <div>
                        <b>Возрастной рейтинг: </b><span>@Model.Game.AgeRating</span>
                    </div>
                    <div>
                        <b>Дата выхода: </b><span>@Model.Game.ReleaseDate.ToShortDateString()</span>
                    </div>
                </div>
                <div class="rating col-md-4">
                    <h4 class="bg-secondary"><b>Рейтинг:</b></h4>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="rateit ml-3 mt-1" 
                                 data-rateit-value="@((context.GetGameAverageRating(Model.Game.Id) / 2).ToString(System.Globalization.CultureInfo.InvariantCulture))" 
                                 data-rateit-step="0.01" 
                                 data-rateit-readonly="true" 
                                 data-rateit-mode="font" style="font-size:40px;"></div>
                        </div>
                        <div class="col-md-7" style="font-size:35px;">@context.GetGameAverageRating(Model.Game.Id).ToString("F2")</div>
                    </div>
                </div>
                <div class="description row">
                    <div class="col-md-4">
                        @if (signInManager.IsSignedIn(User))
                        {
                        <section>
                            <div>
                                @if (Model.Catalog != null)
                                {
                                    <form class="form-inline text-center" asp-controller="Game" asp-action="UpdateGameInUserCatalog" asp-route-gameId="@Model.Game.Id" asp-antiforgery="true" method="post">
                                        <select id="catalogId" name="catalogId" asp-items="ViewBag.Catalogs" class="form-control-sm mx-auto"></select>
                                        <input class="btn btn-success mx-auto" type="submit" value="Обновить" />
                                    </form>
                                }
                                else
                                {
                                    <form class="form-inline text-center" asp-controller="Game" asp-action="AddGameToUserCatalog" asp-route-gameId="@Model.Game.Id" asp-antiforgery="true" method="post">
                                        <input type="hidden" name="game" value="@Model.Game" />
                                        <select id="catalogId" name="catalogId" asp-items="ViewBag.Catalogs" class="form-control-sm mx-auto"></select>
                                        <input class="btn btn-success" type="submit" value="Добавить в список" />
                                    </form>
                                }
                            </div>
                            <div class="row" style="font-size:35px;">
                                @if (context.GameRates.Any(gr => gr.GameId == Model.Game.Id && gr.AuthorId.Equals(userManager.GetUserId(User))))
                                {
                                    <div id="user-rateit" class="rateit ml-3 mt-1 col-md-5"
                                         data-rateit-value="@((context.GameRates.First(gr => gr.GameId == Model.Game.Id && gr.AuthorId.Equals(userManager.GetUserId(User))).Rate / (double)2).ToString(System.Globalization.CultureInfo.InvariantCulture))"
                                         data-rateit-step="0.5"
                                         data-rateit-mode="font" 
                                         data-rateit-resetable="false" style="font-size:40px;"></div>
                                    <div id="user-rate-value" class="col-md-7">@context.GameRates.First(gr => gr.GameId == Model.Game.Id && gr.AuthorId.Equals(userManager.GetUserId(User))).Rate</div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <div id="user-rateit" class="rateit ml-3 mt-1" 
                                             data-rateit-step="0.5"
                                             data-rateit-mode="font" 
                                             data-rateit-resetable="false" style="font-size:40px;"></div>
                                    </div>
                                    <div id="user-rate-value" class="col-md-7"></div>
                                }
                            </div>
                        </section>
                        }
                    </div>
                    <div class="col-md-8">
                        <h4 class="bg-secondary"><b>Описание:</b></h4>
                        <p>@Model.Game.Description.ToHtmlString()</p>
                    </div>
                </div>
            </div>
        </div>
    </section>     
    <section>
        <div>
            @if (signInManager.IsSignedIn(User))
            {
                <h4 class="bg-secondary"><b>Твой отзыв:</b></h4>
                <form asp-controller="Game" asp-action="CreateGameReview" asp-route-gameId="@Model.Game.Id" method="post">
                    <div class="row">
                        <div class="col-sm-11" style="padding-right:0px;">
                            <textarea class="form-control" placeholder="Введите текст отзыва..." name="text" rows="2" maxlength="1000"></textarea>                            
                        </div>
                        <div class="col-sm-1" style="padding-left:0px;">
                            <button class="btn btn-outline-success h-100 w-100" type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            }
            @foreach (var review in context.GetGameReviews(Model.Game.Id, true).OrderBy(r => r.Date))
            {
                var user = userManager.FindByIdAsync(review.UserId).GetAwaiter().GetResult();
                <div class="review">
                    <img src="data:image;base64,@System.Convert.ToBase64String(user.Photo)" />
                    <span>@user.Nickname</span>@review.Date.ToString("g")
                    <p>
                        @review.Text
                    </p>
                </div>
            }
        </div>
    </section>
</div>