@model BokuNoGame.ViewModels.GameListViewModel
@inject AppDBContext context
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }

    .list-group-horizontal.repeat {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
    }
</style>

<div class="row">
    <div class="col-md-8 order-md-1">
        <div class="row">
            <ul class="list-group list-group-horizontal repeat">
                @foreach (var game in Model.Games)
                {
                    <li class="list-group-item btn btn-outline-light">
                        <a asp-controller="Game" asp-action="Game" asp-route-gameId="@game.Id">
                            <div>
                                <img src="data:image;base64,@System.Convert.ToBase64String(game.Logo)" width="80" height="80" />
                                <div>@game.Name</div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <form class="form-inline" asp-action="GameList" method="post" style="float:left;">
                <input type="hidden" name="page" value="@(Model.PageViewModel.PageNumber - 1)" />
                <input type="hidden" asp-for="Filter.Name" />
                <input type="hidden" asp-for="Filter.Genre" />
                <input type="hidden" asp-for="Filter.Publisher" />
                <input type="hidden" asp-for="Filter.Developer" />
                <input type="hidden" asp-for="Filter.ReleaseYearStart" />
                <input type="hidden" asp-for="Filter.ReleaseYearEnd" />
                <input type="hidden" asp-for="Filter.Rating" />
                <input type="hidden" asp-for="Filter.AgeRating" />             
                <button class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </button>
            </form>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <form class="form-inline" asp-action="GameList" method="post" style="float:right;">
                <input type="hidden" name="page" value="@(Model.PageViewModel.PageNumber + 1)" />
                <input type="hidden" asp-for="Filter.Name" />
                <input type="hidden" asp-for="Filter.Genre" />
                <input type="hidden" asp-for="Filter.Publisher" />
                <input type="hidden" asp-for="Filter.Developer" />
                <input type="hidden" asp-for="Filter.ReleaseYearStart" />
                <input type="hidden" asp-for="Filter.ReleaseYearEnd" />
                <input type="hidden" asp-for="Filter.Rating" />
                <input type="hidden" asp-for="Filter.AgeRating" />
                <button class="btn btn-outline-dark">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </form>
        }
    </div>
    <div class="col-md-4 order-md-2">
        <div class="sticky-top">
            <form class="card" asp-controller="Game" asp-action="GameList" method="post">
                <div class="card-header">
                    Панель фильтрации
                </div>
                <div class="card-body">
                    <div class="form-group list-group-item">
                        <div class="row">
                            <label class="col-md-3 control-label" asp-for="Filter.Name">Название</label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" asp-for="Filter.Name" />
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="form-group list-group-item">
                        <div class="row">
                            <label class="col-md-3 control-label" asp-for="Filter.Genre">Жанр</label>
                            <div class="col-md-9">
                                <select class="form-control" asp-for="Filter.Genre" asp-items="@Html.GetEnumSelectList<Genre>()">
                                    <option selected value="@Model.Filter.Genre"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="form-group list-group-item">
                        <div class="row">
                            <label class="col-md-3 control-label" asp-for="Filter.Publisher">Издатель</label>
                            <div class="col-md-9">
                                <select class="form-control" asp-for="Filter.Publisher" asp-items="@ViewBag.Publishers">
                                    <option selected disabled>Выберите издателя</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="form-group list-group-item">
                        <div class="row">
                            <label class="col-md-3 control-label" asp-for="Filter.Developer">Разработчик</label>
                            <div class="col-md-9">
                                <select class="form-control" asp-for="Filter.Developer" asp-items="@ViewBag.Developers">
                                    <option selected disabled>Выберите разработчика</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="form-group list-group-item">
                        <div class="row">
                            <span class="col-md-3">Дата выхода с </span>
                            <div class="col-md-9">
                                <select class="form-control-sm" asp-for="Filter.ReleaseYearStart" asp-items="@ViewBag.StartYears">
                                    <option selected disabled>Год выхода</option>
                                </select>
                                <span>по </span>
                                <select class="form-control-sm" asp-for="Filter.ReleaseYearEnd" asp-items="@ViewBag.EndYears">
                                    <option selected disabled>Год выхода</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="form-group list-group-item">
                        <div class="row">
                            <label class="col-md-3 control-label" asp-for="Filter.Rating">Средний рейтинг</label>
                            <div class="col-md-9">
                                <input class="form-control-range" type="range" min="0" max="10" value="0" asp-for="Filter.Rating" />
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="form-group list-group-item">
                        <div class="row">
                            <label class="col-md-3 control-label" asp-for="Filter.AgeRating">Возрастной рейтинг</label>
                            <div class="col-md-9">
                                <select class="form-control" asp-for="Filter.AgeRating" asp-items="@ViewBag.AgeRatings">
                                    <option selected disabled>Выберите возрастной рейтинг</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" value="Применить" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
